<app-main title="Network List" [config]="tabsConfig">
@if (!contacts()) {
  <div class="spinner-container">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
} @else {
  <mat-list>
    @for (contact of contacts(); track contact.id) {
      <a mat-list-item [routerLink]="['/network/view', contact.id]">
        {{ contact.name }}
      </a>
    }
  </mat-list>
}

<button mat-fab color="primary" class="create-button" routerLink="/network/create">
  <mat-icon>add</mat-icon>
</button></app-main>