.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-button {
  position: fixed;
  bottom: 72px; // Positioned above the bottom toolbar
  right: 24px;
  z-index: 100;
}