@import 'configuration/variables';

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a[mat-list-item] {
  text-decoration: none;
  color: inherit;

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}

[matListItemTitle] {
  font-weight: 500;
}

[matListItemLine] {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.create-button {
  position: fixed;
  bottom: 72px;
  right: 24px;
  z-index: 100;
}

mat-card {
  margin: 0;
  background-color: $light-gray;
}