<app-main-layout title="Network List">
  @if (!contacts()) {
  <div class="spinner-container">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  } @else {
  <mat-nav-list>
    @for (contact of contacts(); track contact.id) {
    <a mat-list-item [routerLink]="['/network/view', contact.id]">
      <mat-icon matListItemIcon>person</mat-icon>
      <div matListItemTitle>{{ contact.name }}</div>
      <div matListItemLine>
        <app-reconnection-status [networkContact]="contact"></app-reconnection-status>
      </div>
      <mat-icon matListItemMeta>chevron_right</mat-icon>
    </a>
    }
  </mat-nav-list>
  }

  <button mat-fab color="primary" class="create-button" routerLink="/network/create">
    <mat-icon>add</mat-icon>
  </button>
</app-main-layout>