<div class="app-container">
  <mat-toolbar class="app-toolbar">
    @if (parentPath) {
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    }
    <span class="toolbar-title">{{ title }}</span>
  </mat-toolbar>

  <div class="content-container" [class.no-footer]="!config?.length">
    <ng-content />
  </div>

  @if (config?.length) {
  <mat-toolbar class="app-toolbar bottom-toolbar">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" [selectedIndex]="getSelectedIndex()">
      @for (tab of config; track tab.text) {
      <button mat-tab-link [disabled]="tab.disabled ? true : null"
        [active]="tab.routerPath && router.url.startsWith(tab.routerPath)" (click)="handleTabClick(tab)">
        <div class="tab-content">
          @if (tab.icon) {
          <mat-icon>{{ tab.icon }}</mat-icon>
          }

          @if (tab.text) {
          <span>{{ tab.text }}</span>
          }
        </div>
      </button>
      }
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  </mat-toolbar>
  }
</div>