$grid-unit-value: 8;

$grid-unit: $grid-unit-value * 1px;

//Colors
$green-main: #4caf50;
$orange-main: #ff9800;
$yellow-main: #daca3a;
$red-main: #b00020;
$blue-main: #2196f3;
$light-gray: #f5f5f5;
$gray-main: #e0e0e0;

//Status colors
$error-color: $red-main;
$success-color: $green-main;
$info-color: $blue-main;
$warning-color: $orange-main;