# Compiled output
/dist

# Node
/node_modules
npm-debug.log

# IDEs and editors
.windsurfrules

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache

