<app-main-layout title="Settings">
  <mat-nav-list>
    @for (item of navigationItems; track item.path) {
    <a mat-list-item [routerLink]="item.path" routerLinkActive="active">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </a>
    }
  </mat-nav-list>

  <div class="extra-controls">
    <h2>App Status</h2>
    <div class="app-status-container">
      <p class="status-text">
        {{(updateAvailable$ | async) ? 'New version available' : 'App is up to date'}}
      </p>
      <button mat-raised-button [color]="(updateAvailable$ | async) ? 'warn' : 'basic'" (click)="updateApp()">
        <mat-icon>system_update</mat-icon>
        Update App
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>
</app-main-layout>