<mat-card>
  <mat-card-header>
    <mat-card-title>Contacts to reconnect</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (loading() && !reconnectContacts()) {
    <div class="spinner-container">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
    } @else {

    <mat-nav-list>
      @for (contact of reconnectContacts(); track contact.id) {
      <a mat-list-item [routerLink]="['/network/view', contact.id]">
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>{{ contact.name }}</div>
        <div matListItemLine>
          <app-reconnection-status [networkContact]="contact"></app-reconnection-status>
        </div>
      </a>
      } @empty {
      <mat-list-item>
        <div matListItemTitle>No contacts need reconnecting</div>
      </mat-list-item>
      }
    </mat-nav-list>
    }
  </mat-card-content>
</mat-card>