<mat-card>
  <mat-card-header>
    <mat-card-title>Contacts to reconnect</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      @for (contact of contacts; track contact.id) {
      <a mat-list-item [routerLink]="['/network/view', contact.id]">
        <mat-icon [color]="getIconColor(contact.daysOverdue)" matListItemIcon>
          {{ getIcon(contact.daysOverdue) }}
        </mat-icon>
        <div matListItemTitle>{{ contact.name }}</div>
        <div matListItemLine>
          @if (contact.daysOverdue === 0) {
            Reconnect today
          } @else {
            Overdue {{ contact.daysOverdue }} days
          }
        </div>
      </a>
      }

      @if (contacts.length === 0) {
      <mat-list-item>
        <div matListItemTitle>No contacts to reconnect</div>
      </mat-list-item>
      }
    </mat-nav-list>
  </mat-card-content>
</mat-card>
