<div class="app-container">
  <mat-toolbar class="app-toolbar">
    @if (hasBackButton) {
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    }
    <span class="toolbar-title">{{ title }}</span>
  </mat-toolbar>

  <div class="content-container">
    <ng-content />
  </div>

  @if (config?.tabs?.length) {
    <mat-toolbar class="app-toolbar bottom-toolbar">
      <nav mat-tab-nav-bar [tabPanel]="tabPanel" [selectedIndex]="getSelectedIndex()">
        @for (tab of config?.tabs; track tab.text) {
          <button mat-tab-link
            [active]="tab.routerPath && router.url.startsWith(tab.routerPath)"
            (click)="handleTabClick(tab)"
          >
            <div class="tab-content">
              @if (tab.icon) {
                <mat-icon>{{ tab.icon }}</mat-icon>
              }
              <span>{{ tab.text }}</span>
            </div>
          </button>
        }
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </mat-toolbar>
  }
</div>
