<app-layout title="Contact Details" parentPath="/network" [config]="tabsConfig" (tabClick)="onTabClick($event)">
  @if (contact()) {
  <mat-card>
    <mat-card-content>
      <mat-nav-list>
        <mat-list-item>
          <mat-icon matListItemIcon>person</mat-icon>
          <div matListItemTitle>Name</div>
          <div matListItemLine>{{ contact()?.name }}</div>
        </mat-list-item>

        @if (contact()?.phoneNumber) {
        <mat-list-item>
          <mat-icon matListItemIcon>phone</mat-icon>
          <div matListItemTitle>Phone Number</div>
          <div matListItemLine>
            <button mat-button color="primary" (click)="onPhoneClick()">
              {{ contact()?.phoneNumber }}
            </button>
          </div>
        </mat-list-item>
        }

        <mat-list-item>
          <mat-icon matListItemIcon>update</mat-icon>
          <div matListItemTitle>Connection Status</div>
          <div matListItemLine>
            <app-reconnection-status [networkContact]="contact()!"></app-reconnection-status>
          </div>
        </mat-list-item>

        @if (contact()?.jobTitle) {
        <mat-list-item>
          <mat-icon matListItemIcon>work</mat-icon>
          <div matListItemTitle>Job Title</div>
          <div matListItemLine>{{ contact()?.jobTitle }}</div>
        </mat-list-item>
        }

        @if (contact()?.workedAt) {
        <mat-list-item>
          <mat-icon matListItemIcon>business</mat-icon>
          <div matListItemTitle>Worked At</div>
          <div matListItemLine>{{ contact()?.workedAt }}</div>
        </mat-list-item>
        }

        @if (contact()?.preferredCommunicationChannel) {
        <mat-list-item>
          <mat-icon matListItemIcon>chat</mat-icon>
          <div matListItemTitle>Preferred Communication Channel</div>
          <div matListItemLine>
            <button mat-button color="primary" (click)="onCommunicationMethodClick()">
              {{ contact()?.preferredCommunicationChannel }}
            </button>
          </div>
        </mat-list-item>
        }

        @if (contact()?.communicationLanguage) {
        <mat-list-item>
          <mat-icon matListItemIcon>translate</mat-icon>
          <div matListItemTitle>Communication Language</div>
          <div matListItemLine>{{ contact()?.communicationLanguage }}</div>
        </mat-list-item>
        }

        @if (contact()?.email) {
        <mat-list-item>
          <mat-icon matListItemIcon>email</mat-icon>
          <div matListItemTitle>Email</div>
          <div matListItemLine>
            <button mat-button color="primary" (click)="onEmailClick()">
              {{ contact()?.email }}
            </button>
          </div>
        </mat-list-item>
        }

        <mat-list-item>
          <mat-icon matListItemIcon>schedule</mat-icon>
          <div matListItemTitle>Reconnection Frequency</div>
          <div matListItemLine>{{ contact()?.reconnectionFrequency }} days</div>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="openDeleteConfirmationDialog()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
      <button mat-button color="primary" [routerLink]="['/network/edit', this.contact()?.id]">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
    </mat-card-actions>
  </mat-card>
  } @else if (loading()) {
  <div class="spinner-container">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  } @else if (error()) {
  <mat-card>
    {{ error() }}
  </mat-card>
  } @else {
  <mat-card>
    Contact not found.
  </mat-card>
  }
</app-layout>