.confirmation-dialog {
  padding: 16px;
  min-width: 300px;
  max-width: 500px;

  mat-dialog-content {
    margin: 16px 0;
  }

  mat-dialog-actions {
    margin-bottom: -8px;
    padding: 8px 0;
    gap: 8px;
  }
}