@import "configuration/variables";
@import "configuration/mixins";

.login-card {
  margin: grid-unit(5);
  padding: grid-unit(5);
}

.login-card-footer {
  display: flex;
  padding-top: grid-unit(5);
  justify-content: center;
}
