<app-main-layout title="Dashboard">
    <app-contacts-list [isLoading]="loading()" [contacts]="contactsMeetingToday()" [title]="'Today'" [icon]="'today'" />
    <app-contacts-list [isLoading]="loading()" [contacts]="reconnectContacts()" [title]="'Contacts to reconnect'"
        [icon]="'schedule'" />
    <app-contacts-list [isLoading]="loading()" [contacts]="plannedReconnectContacts()" [title]="'Planned meetings'"
        [icon]="'event'" />
    <app-contacts-list [isLoading]="loading()" [contacts]="processingContacts()" [title]="'Processing meetings'"
        [icon]="'event'" />
    <app-contacts-list [isLoading]="loading()" [contacts]="invitedContacts()" [title]="'Invited contacts'"
        [icon]="'mail'" />
    <app-contacts-list [isLoading]="loading()" [contacts]="connectedContacts()" [title]="'Connected contacts'"
        [icon]="'check_circle'" />
</app-main-layout>