<app-main-layout title="Dashboard">
    <app-contacts-list [isLoading]="loading()" [contacts]="plannedToReconnectToday()" [title]="'Today'" />
    <app-contacts-list [isLoading]="loading()" [contacts]="plannedReconnectContacts()" [title]="'Planned meetings'" />
    <app-contacts-list [isLoading]="loading()" [contacts]="approacedReconnectContacts()"
        [title]="'Approached contacts'" />
    <app-contacts-list [isLoading]="loading()" [contacts]="reconnectContacts()" [title]="'Contacts to reconnect'" />
    <app-contacts-list [isLoading]="loading()" [contacts]="connectedContacts()" [title]="'Connected contacts'" />
</app-main-layout>