/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-access-screen {
  background-image: url("/assets/images/no-access-bg.webp");
  background-size: auto 100%;
  background-position: center;
}
