<app-data-container [title]="title()" [titleSuffix]="contacts().length > 0 ? contacts().length.toString() : ''"
  [isLoading]="isLoading()" [hasData]="contacts().length > 0" [icon]="icon()" [isExpanded]="isExpanded()">
  <mat-nav-list>
    @for (contact of contacts(); track contact.id) {
    <a mat-list-item [routerLink]="['/network/view', contact.id]">
      <mat-icon matListItemIcon>person</mat-icon>
      <div matListItemTitle>{{ contact.name }}</div>
      <div matListItemLine>
        <app-reconnection-status [networkContact]="contact"></app-reconnection-status>
      </div>
    </a>
    } @empty {
    <mat-list-item>
      <div matListItemTitle>Empty list</div>
    </mat-list-item>
    }
  </mat-nav-list>
</app-data-container>