<mat-expansion-panel [expanded]="isExpanded()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="title-container">
        @if (icon()) {
          <mat-icon>{{ icon() }}</mat-icon>
        }
        <span>{{ title() }}</span>
        @if (contacts().length) {
          <span class="contact-count">({{ contacts().length }})</span>
        }
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>

  @if (isLoading() && !contacts()) {
    <div class="spinner-container">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  } @else {
    <mat-nav-list>
      @for (contact of contacts(); track contact.id) {
        <a mat-list-item [routerLink]="['/network/view', contact.id]">
          <mat-icon matListItemIcon>person</mat-icon>
          <div matListItemTitle>{{ contact.name }}</div>
          <div matListItemLine>
            <app-reconnection-status [networkContact]="contact"></app-reconnection-status>
          </div>
        </a>
      } @empty {
        <mat-list-item>
          <div matListItemTitle>Empty list</div>
        </mat-list-item>
      }
    </mat-nav-list>
  }
</mat-expansion-panel>