@import 'configuration/variables';
@import 'configuration/mixins';

:host {
  display: block;
}

mat-card {
  margin: 0;
  background-color: $light-gray;
}

mat-card-content {
  padding: 0;
  min-height: 100px;
  position: relative;

  &:last-child {
    padding-bottom: 0;
  }
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  padding: 20px;
}

mat-card-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

a[mat-list-item] {
  text-decoration: none;
  color: inherit;
  height: auto;
  padding: 0px;

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}

[matListItemTitle] {
  font-weight: 500;
}

[matListItemLine] {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}