<app-layout title="App Status" parentPath="/settings">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Version Status</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{updateAvailable() ? 'New version available' : 'App is up to date'}}</mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-raised-button [color]="updateAvailable() ? 'warn' : 'basic'" [disabled]="!updateAvailable()"
          (click)="updateApp()">
          <mat-icon>system_update</mat-icon>
          Update App
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>About</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>This app is designed to help you manage and maintain your professional network effectively.
        Regular updates ensure you have access to the latest features and improvements.</p>
    </mat-card-content>
  </mat-card>



</app-layout>